
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="bi bi-window-sidebar"></i>
              <span>Preview</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto d-options">
                  <li class="nav-item active">

                      <a class="nav-link" title="Edit"  href="#"><i class="bi bi-pencil-square"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" title="Share" href="#"><i class="bi bi-share"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" title="Copy" href="#"><i class="bi bi-front"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" title="More" href="#"><i class="bi bi-three-dots"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <!-- <canvas class="dashboard_area" width="1230" height="900" background>
  <input type="text">

  </canvas> -->
  <div class="container-fluid custome_bg">
    <div class="row cus_row">
      <div class="cus_image">
      <div class="img_cus">
        <img  width="40%" alt="ODT" src="./assets/db-img-2.png">
      </div>
        <div class="btn_cus">
        <a class="nav-link" title="More" routerLink="/layout/source"><i class="bi bi-three-dots"></i>Add elements</a>
      </div>
    </div>
  </div>


  </div>


<!-- jQuery CDN - Slim version (=without AJAX) -->


