
  <nav id="sidebar">
  <div class="sidebar-header">
      <h5>Dashboard</h5>
  </div>
  <ul class="list-unstyled CTAs">
    <li data-type="1" data-metrictype="basic" class="datablock datablock--empty datablock--block1 ui-draggable ui-draggable-handle">
        <div class="tooltipstered">
            <a role="button" class="icon-ct "><i class="bi bi-123"></i><span>Matrics</span></a>
            <span id="ember500" class="faketooltipcomponent ember-view"></span>
        </div>
    </li>
    <li data-type="4" data-metrictype="basic" class="datablock datablock--empty datablock--block4 ui-draggable ui-draggable-handle">
        <div class="tooltipstered">
            <a role="button" class="icon-ct "><i class="bi bi-graph-up"></i><span>Visualization</span></a>
            <span id="ember501" class="faketooltipcomponent ember-view"></span>
        </div>
    </li>
    <li data-type="5" data-metrictype="basic" class="datablock datablock--empty datablock--block5 ui-draggable ui-draggable-handle">
        <div class="tooltipstered">
            <a role="button" class="icon-ct "><i class="bi bi-bar-chart-line"></i><span>My Matrics</span></a>
            <span id="ember502" class="faketooltipcomponent ember-view"></span>
        </div>
    </li>
    </ul>

  <!-- <ul class="list-unstyled components">
      <li class="active">

          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="bi bi-clipboard-data-fill"></i> Dashboards</a> -->
          <!-- <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="bi bi-clipboard-data-fill"></i> Home</a> -->
          <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#">Home 1</a>
              </li>
              <li>
                  <a href="#">Home 2</a>
              </li>
              <li>
                  <a href="#">Home 3</a>
              </li>
          </ul> -->
      <!-- </li>
      <li>
          <a href="#"><i class="bi bi-file-earmark-bar-graph-fill"></i>Data Manager</a>
      </li>
      <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="bi bi-123"></i> Metrics</a> -->
          <!-- <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="#">Page 1</a>
              </li>
              <li>
                  <a href="#">Page 2</a>
              </li>
              <li>
                  <a href="#">Page 3</a>
              </li>
          </ul> -->
      <!-- </li>
      <li>
          <a href="#"><i class="bi bi-clipboard2-data"></i> Data Source</a>
      </li>
      <li>
          <a href="#"><i class="bi bi-person-rolodex"></i>Contact</a>
      </li>
  </ul> -->
  <div class="sidebar-header">
    <h5>VISUALIZATION TYPES</h5>
   </div>

  <ul class="list-unstyled CTAs">
      <li data-type="1" data-metrictype="basic" class="datablock datablock--empty datablock--block1 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-123"></i><span>Number</span></a>
              <span id="ember500" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
      <li data-type="4" data-metrictype="basic" class="datablock datablock--empty datablock--block4 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-graph-up"></i><span>Line</span></a>
              <span id="ember501" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
      <li data-type="5" data-metrictype="basic" class="datablock datablock--empty datablock--block5 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-bar-chart-line"></i><span>Bar</span></a>
              <span id="ember502" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
      <li data-type="10" data-metrictype="basic" class="datablock datablock--empty datablock--block10 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-pie-chart-fill"></i><span>Pie</span></a>
              <span id="ember503" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
      <li data-type="9" data-metrictype="basic" class="datablock datablock--empty datablock--block9 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-table"></i><span>Table</span></a>
              <span id="ember504" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
      <li data-type="7" data-metrictype="basic" class="datablock datablock--empty datablock--block7 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-image"></i><span>Image</span></a>
              <span id="ember505" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
      <li data-type="6" data-metrictype="basic" class="datablock datablock--empty datablock--block6 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-speedometer2"></i><span>Gauge</span></a>
              <span id="ember506" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
      <li data-type="8" data-metrictype="basic" class="datablock datablock--empty datablock--block8 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-body-text"></i><span>Compare</span></a>
              <span id="ember507" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
      <li data-type="21" data-metrictype="basic" class="datablock datablock--empty datablock--block21 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-funnel"></i><span>Funnel</span></a>
              <span id="ember508" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
      <li data-type="2" data-metrictype="basic" class="datablock datablock--empty datablock--block2 ui-draggable ui-draggable-handle">
          <div class="tooltipstered">
              <a role="button" class="icon-ct "><i class="bi bi-calendar-date"></i><span>Date</span></a>
              <span id="ember509" class="faketooltipcomponent ember-view"></span>
          </div>
      </li>
  </ul>

</nav>
