
<div id="content">
  <h1 class="welcome-text">Hello Sourrabh here is your all dashboards </h1>

    <div class=" cus_row">
      <div class="flex---GbCfE flexWrap---n9Ptf justify-center---LHwd5">
        <div class="flex---GbCfE directionColumn---mjv5J md-10---uvv3z margin-2---uHUX4">




                <div class="column" style="background-color:#aaa;">
                  <h2>DASHBOARD 1</h2>
                  <p>Some text..</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                  <h2>DASHBOARD 2</h2>
                  <p>Some text..</p>
                </div>



  </div>



  </div>


  </div>

