
<div id="content">

  <div class="container-fluid custome_bg">
    <div class="row cus_row">
      <div class="flex---GbCfE flexWrap---n9Ptf justify-center---LHwd5">
        <div class="flex---GbCfE directionColumn---mjv5J md-10---uvv3z margin-2---uHUX4">
          <section>
            <h1 class="heading---wqmwv extraLargeSize---yAvKj mediumWeight---K_5Ce">

              <span data-t="integrationsPage.headline"><span>Connect your data</span></span>
            </h1> </section>
            <section>

              <ul class="IntegrationsGrid---EKV3L">
                <li>
                  <div class="IntegrationPill---acFYy">
                  <input type="file">
                  <!-- <img width="40" height="40" src="//d2s28ygc2k7998.cloudfront.net/integration-logos/freshdesk-40.png" alt="" class="image---TVH98 icon---Fvzay rounded---AbiJF" srcset="//d2s28ygc2k7998.cloudfront.net/integration-logos/freshdesk-40@2x.png 2x, //d2s28ygc2k7998.cloudfront.net/integration-logos/freshdesk-40@3x.png 3x">Freshdesk</div> -->
                </div>
                </li>
                  <li>
                    <div class="IntegrationPill---acFYy">
                      <img width="40" height="40" src="//d2s28ygc2k7998.cloudfront.net/integration-logos/spreadsheets-40.png" alt="" class="image---TVH98 icon---Fvzay rounded---AbiJF" srcset="//d2s28ygc2k7998.cloudfront.net/integration-logos/spreadsheets-40@2x.png 2x, //d2s28ygc2k7998.cloudfront.net/integration-logos/spreadsheets-40@3x.png 3x">Spreadsheets</div></li>
                    <li>
                      <div class="IntegrationPill---acFYy">
                        <img width="40" height="40" src="//d2s28ygc2k7998.cloudfront.net/integration-logos/google_calendar2-40.png" alt="" class="image---TVH98 icon---Fvzay rounded---AbiJF" srcset="//d2s28ygc2k7998.cloudfront.net/integration-logos/google_calendar2-40@2x.png 2x, //d2s28ygc2k7998.cloudfront.net/integration-logos/google_calendar2-40@3x.png 3x">Google Calendar</div>
                    </li>
                  </ul>
                </section>

  </div>


  </div>


<!-- jQuery CDN - Slim version (=without AJAX) -->


