ul.IntegrationsGrid---EKV3L {
  display: flex;
  padding: 30px;
}
.flex---GbCfE.flexWrap---n9Ptf.justify-center---LHwd5 {
  padding: 20px;
}
.flex---GbCfE.flexWrap---n9Ptf.justify-center---LHwd5 li {
  list-style: none;
  background: #fff;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 20%);
  padding: 20px;
  margin-left: 10px;
}
